<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script>
var output = <%= @anime %>;
var byDateData = output.by_date
var byDayOfWeekData = output.by_day_of_week
var a = byDayOfWeekData.map((obj) => obj[0])
var b = byDayOfWeekData.map((obj) => obj[1])

var labels = byDateData.map((obj) => obj[0])
var values = byDateData.map((obj) => obj[1])


const createChart = (outputData, chartName, chartLabel) => {
    console.log(outputData)
    var ctx = document.getElementById(chartName).getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: outputData.keys,
            datasets: [{
                label: chartLabel,
                data: outputData.values,
                backgroundColor: 'rgba(144, 137, 218, 0.5)',
                foregroundColor: 'rgba(144, 137, 218, 0.5)',
                borderColor: 'rgba(144, 137, 218, 0.5)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

  
}
  window.onload = function () {
        createChart({ keys: labels, values }, "messagesByDay", "dab")
        createChart({ keys: a, values: b }, "messagesByDayOfWeek", "dab")
    }
</script>

<div class='chartRow'>
    <div class='graph' ><canvas id="messagesByDay"></canvas></div>
    <div class='graph' ><canvas id="messagesByDayOfWeek"></canvas></div>
</div>
<style>
    .chartRow {
        display: inline-flex;
        width: 100%;
    }

    .graph {
        display: inline;
        width: 50%;
    }

    body {
        background-color: #2C2F33;
    }
</style>